@{
    if (WebSecurity.IsAuthenticated==false)
    {
        Response.Redirect("~/Account/Login");
    }
Layout="~/shared/_Layout.cshtml";    

bool yeniParolalarUyusmadi=false;
bool hataVar=false;
bool gecerliParolaYanlis=false;
bool parolaBasariylaDegistirildi=false;
var gecerliParola="";
var yeniParola="";
var yeniParola2="";

if (IsPost)
{
    gecerliParola=Request["txtPassword"];
    yeniParola=Request["txtNewPassword"];
    yeniParola2=Request["txtNewPassword2"];
    
    if (yeniParola!=yeniParola2)
        {
            yeniParolalarUyusmadi=true;
            hataVar=true;
        }
    if (hataVar==false)        
    {
        if (WebSecurity.ChangePassword(WebSecurity.CurrentUserName,gecerliParola,yeniParola)==false)
        {
            gecerliParolaYanlis=true;
            hataVar=true;

        }
        else
        {
            parolaBasariylaDegistirildi=true;
        }
    }
        
            
}

}
<div>
    <h1>Parola Değiştir</h1>
    <hr>
    @if (parolaBasariylaDegistirildi==true)
    {
        <p class="alert alert-success">Parolanız Başarıyla Değiştirildi</p>
    }

    @if (gecerliParolaYanlis==true)
    {
        <p class="alert alert-danger">Parola Değiştirilirken Hata Meydana Geldi. Geçerli Parolayı yanlış girdiniz.</p>
    }

    @if (yeniParolalarUyusmadi==true)
    {
        <p class="alert alert-danger"> Girdiğiniz yeni parolalar birbiriyle uyuşmadı </p>
    }
 <form method="post" action="#">

        <label>Geçerli Parola:</label>

        <input type="password" name="txtPassword" required placeholder="Geçerli Parolanızı Giriniz..." class="form-control">
        <label>Yeni Parola:</label>

        <input type="password" name="txtNewPassword" required placeholder="Yeni Parolanızı Giriniz..." class="form-control">
        <label>Yeni Parola: (Tekrar)</label>

        <input type="password" name="txtNewPassword2" required placeholder="Yeni Parolanızı  Tekrar Giriniz..." class="form-control">


        <br>
        <button type="submit" class="btn btn-success"> Parolayı Değiştir</button> 
    
    </form>
</div>
